
<%= content_for(:title, "Services") %>
<h1>Choose a service:</h1>



<br/>

<% @products.each do |product| %>


    <div class="tile selected">
      <div class="caption" style=" font-size: small;">
      <%= product.author %>
</div>
      

        <%= link_to(image_tag("products/" + product.image_file_name), product_path(product)) %>

        <div class="brand " style=" background: rgba(45, 137, 239, 0.7); font-size: small;">

          <span class=" text-center">
        <%= link_to product.title, product_path(product) %>
</span>
        </div>
     
    </div>

<% end %>

<div style="clear:both"></div>



